---
const country =
  Astro.request.headers.get("CF-IPCountry") || "No CF-IPCountry header";
console.log("Cloudflare Country Header:", country);

const headers = Object.fromEntries(Astro.request.headers.entries());
---

<p>{country}</p>

<hr />
<pre>{JSON.stringify(headers, null, 2)}</pre>
