---
import SVGMask from "../custom-components/svg-mask.vue";
import InteractiveGridPattern from "../custom-components/InteractiveGridPattern.vue";
import PatternBackground from "../custom-components/PatternBackground.vue";

import {
  PATTERN_BACKGROUND_DIRECTION,
  PATTERN_BACKGROUND_SPEED,
  PATTERN_BACKGROUND_VARIANT,
  PATTERN_BACKGROUND_MASK,
} from "../custom-components";
---

<PatternBackground
  class="flex h-[36rem] w-full items-center justify-center"
  mask="ellipse"
  variant="dot"
>
  <div
    slot="content"
    class="flex flex-col items-center justify-center w-full h-full"
  >
 <SVGMask client:only size={8} revealSize={150} class="h-[38rem]">
      <div slot="base" class="text-white dark:text-black">
        Hi👋 I'm <span class="text-cyan-500">Saeid Doroudi</span><br />
        FullStack developer with focus on the <span
          class="text-indigo-500 font-bold">.Net</span
        >
      </div>
      <div slot="reveal">
        <p
          class="mx-auto max-w-4xl text-center text-4xl font-bold text-black dark:text-white"
        >
          Hi👋 I'm Saeid Doroudi<br />
          FullStack developer with focus on the .Net
        </p>
      </div>
    </SVGMask>
  </div>
</PatternBackground>
